// Body
$body-bg: #f8fafc;
$dark-text: #0f0f0f;
$dark-hover-text: #707070;
// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$bg-white:#f7f7f7;
$sidebar-bg:#f1eff3;
$sidebar-txt:$dark-text;

$card-border:#e6e6e6;
$card-bg:#f4f4f4;

