// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'custom_components';
// Bootstrap
@import '~bootstrap/scss/bootstrap';


body{
    background-color:$bg-white;
}



.nav-container{
    padding-left:0px;
    .sidebar{
        float:left;
        margin:0;
        width:15%;
        height: 100vh;
        background-color:$sidebar-bg;
        color:$sidebar-txt;
        padding-top:4rem;
        padding-left:0.5rem;
     
      
    }
    a{
        text-decoration: none;
        color:$dark-text;
    }
    a:hover{
        color:$dark-hover-text;
    }
    .sidebar-ul{
        list-style: none;
        padding-left:10%;
        .item{
            margin-top:1.8rem;

        }
    }

}

.sub-item{
    margin-left:0.5rem !important;
}

.mini-sub-item{
    margin-left:1rem !important;
}

.content{
    margin-top:1rem;
}


